.container-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vh;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
}

.skills-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 16px;
    padding: 20px;
    background-color: #212121;
    border-radius: 8px;
    width: 100%;
}

.skills-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #2c2c2c;
    border: 1px solid #3c3c3c;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    transition: transform 0.2s ease, background-color 0.2s ease;
    cursor: pointer;
}

.skills-item:hover {
    transform: scale(1.1);
    color: #ffffff;
}

.skills-item-name {
    margin-top: 8px;
    background-color: #2c2c2c;
    color: #b0b0b0;
    font-size: 1rem;
    
}

.skills-certifications {
    text-decoration: none;
    background-color: #212121;
    color: #b0b0b0;
    font-size: 1rem;
    margin-top: 20px;
    display: inline-block;
    transition: color 0.2s ease;
}

@media (max-width: 1024px) {
    .skills-title {
        font-size: 1.8rem;
    }

    .skills-list {
        gap: 15px;
    }

    .skills-item {
        padding: 8px;
    }

    .skills-item-name {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .skills-title {
        font-size: 1.6rem;
    }

    .skills-list {
        gap: 10px;
    }

    .skills-item {
        padding: 8px;
        font-size: 0.9rem;
    }

    .skills-item-name {
        font-size: 0.85rem;
    }

    .skills-certifications {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .skills-title {
        font-size: 1.4rem;
    }

    .skills-list {
        gap: 8px;
        padding: 15px;
    }

    .skills-item {
        padding: 6px;
        font-size: 0.8rem;
    }

    .skills-item-name {
        font-size: 0.8rem;
    }

    .skills-certifications {
        font-size: 0.8rem;
    }
}
