.container-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; /* Ajusta a altura para se adaptar ao conteúdo */
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px; /* Limita a largura máxima para dispositivos maiores */
    width: 100%; /* Garante que o conteúdo ocupe a largura total */
}

.skills__title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.skills__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Responsivo para ajustar ao tamanho disponível */
    gap: 20px;
    padding: 20px;
    background-color: #212121;
    border-radius: 8px; /* Adiciona bordas arredondadas */
    width: 100%; /* Garante que a lista ocupe a largura disponível */
}

.skills__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #2c2c2c;
    border: 1px solid #3c3c3c;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    transition: transform 0.2s ease, background-color 0.2s ease;
    cursor: pointer;
}

.skills__item:hover {
    transform: scale(1.1); /* Efeito de hover */
    background-color: #1e88e5; /* Mudança de cor no hover */
    color: #ffffff; /* Altera a cor do texto */
}

.skills__item__name {
    margin-top: 8px;
    color: #b0b0b0;
    font-size: 1rem;
    word-break: break-word; /* Evita estouro de texto */
}

.skills-certifications {
    text-decoration: none;
    color: #1e88e5;
    font-size: 1rem;
    margin-top: 20px;
    display: inline-block;
    transition: color 0.2s ease;
}

.skills-certifications:hover {
    color: #1565c0; /* Mudança de cor no hover */
}

/* Media Queries */
@media (max-width: 1024px) {
    .skills__title {
        font-size: 1.8rem;
    }

    .skills__list {
        gap: 15px; /* Reduz o espaçamento entre itens */
    }

    .skills__item {
        padding: 8px;
    }

    .skills__item__name {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .skills__title {
        font-size: 1.6rem;
    }

    .skills__list {
        gap: 10px; /* Espaçamento reduzido */
    }

    .skills__item {
        padding: 8px;
        font-size: 0.9rem;
    }

    .skills__item__name {
        font-size: 0.85rem;
    }

    .skills-certifications {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .skills__title {
        font-size: 1.4rem;
    }

    .skills__list {
        gap: 8px;
        padding: 15px;
    }

    .skills__item {
        padding: 6px;
        font-size: 0.8rem;
    }

    .skills__item__name {
        font-size: 0.8rem;
    }

    .skills-certifications {
        font-size: 0.8rem;
    }
}
