.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding: 20px;

  background-color: #171717;

  color: white;
  -webkit-box-shadow: -1px -16.5px 12.5px 19.5px #5E5D5D;
  -moz-box-shadow: -1px -16.5px 12.5px 19.5px #5E5D5D;
  box-shadow: -1px -16.5px 12.5px 19.5px #5E5D5D;

  z-index: 2;
  position: fixed;
}

.logo {
  font-size: 24px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  margin: 0;
  padding: 0;
}

ul a {
  text-decoration: none;
  color: #5E5D5D;
  font-size: 1rem;
  font-weight: bold;
  
  margin: .625em;
}

ul a:hover {
  color: #5E5D5D;
}

.contact-button {
  padding: 10px 20px;
  background-color: #27AE60;
  border: none;
  color: #000;
  font-size: 16px;
  cursor: pointer;
}

.contact-button:hover {
  background-color: #60a37c;
}