.container__contactPage {
    display: flex;
    flex-direction: column;
    

    align-items: center;
    background-color: #171717;
}

.form__contact {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}



input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
    margin:  30px;
}

textarea {
    width: 100%;
    min-height: 15em;
}