.container__homepage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 65vh;
    gap: 20px;
    
    
    background-color: red;
  }
  
  .greetings {
    display: flex;
    flex-direction: column;

  }
  
  .greetings__text {
    font-size: 1.5rem;
    margin: 5px 0;

    color: #FFF;
  }
  
  .greetings__role {
    font-size: 2rem;
    font-weight: bold;
    margin: 30px 0 0;
    color: #4caf50;
  }
  
  .buttons {
    display: flex;
    gap: 30px;

    margin: 30px 0;
  }
  
  .buttons__cv,
  .buttons__linkedin {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .buttons__cv {
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
  }
  
  .buttons__linkedin {
    background-color: #0073b1;
    color: #fff;
  }
  
  .profile {
    margin-top: 20px;
  }
  
  .profile__image {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
  }
  