.container__projectspage {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: auto;

  padding: 20px;

  .project__title{
    font-size: 1.7rem;
    text-align: center;
    color: #FFF;
    margin: 50px 0;
  }
}

.card__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.project__card {
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 350px;
  height: 450px;

  background-color: #212121;
}

.project__card:hover {
  transform: scale(1.1);
}

.card__image {
  height: 240px;
}

.project__title {
  color: #535353;
  font-weight: bold;
  font-size: 1.6rem;
}