.container__projectspage {
    background-color: red;
}

.rec.rec-arrow {
    margin: 50px;
    border-radius: 0;
    border: 1px solid #0065FF;

    color: #0065FF;
    background-color: #FFFFFF;
    
    :hover {
     border-radius: 50%;
     border: 1px solid #0065FF 
    }

    :disabled {
     visibility: hidden;
    }

    @media (max-width: 768px) {
      display: none;
    }
   }

    .rec-dot_active {
      background-color: #0065FF !important;
      box-shadow: 0 0 1px 3px #0065FF !important;
    }

    .rec-dot:focus,
    .rec-dot:hover {
      box-shadow: 0 0 1px 3px #0065FF !important;
    }

    .rec-dot_active:focus,
    .rec-dot_active:hover {
      background-color: #0065FF !important;
      box-shadow: 0 0 1px 3px #0065FF !important;
    }