.container__projectspage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 20px;
}

.project__title {
  font-size: 1.7rem;
  text-align: center;
  color: #FFF;
  margin: 50px 0;
}

.card__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  gap: 40px;
}

.project__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 250px;
  
  padding: 20px;
  background-color: #212121;
  border-radius: 8px; 
  transition: transform 0.3s ease; 
}

.project__card:hover {
  transform: scale(1.05); 
}

.card__image {
  height: 240px;
  width: 100%;
  object-fit: cover; 
  border-radius: 4px 4px 0 0; 
}



@media (max-width: 1024px) {
  .card__list {
    gap: 30px; 
  }

  .project__card {
    max-width: 300px;
  }

  .card__image {
    height: 200px; 
  }

  .project__title {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .card__list {
    flex-direction: column; 
    gap: 20px;
  }

  .project__card {
    max-width: 90%; 
  }

  .project__title {
    font-size: 1.3rem;
  }
}

@media (max-width: 480px) {
  .project__title {
    font-size: 1.2rem; 
  }

  .card__list {
    gap: 15px;
  }

  .project__card {
    max-width: 100%;
    padding: 15px; 
  }

  .card__image {
    height: 180px; 
  }
}
